# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard

DATABASE_URL="postgres://YOUR_USERNAME:YOUR_PASSWORD@ep-something-something.neon.tech/YOUR_DB_NAME?sslmode=require"

# Local Docker Postgres Connection
DATABASE_URL="postgres://uptime:password@localhost:5432/uptime"

# Local Docker Redis Connection
REDIS_URL="redis://localhost:6379"

RESEND_API_KEY=